.cabecalho-azul {
  display: flex;
  background-color: #3da3d0;
  padding: 2.6em;
  position: relative;
  justify-content: center;
}

input {
  width: 50vw;
  height: 4.8vh;
  border: none;
  text-align: center;
  justify-items: center;
  padding: 0.6em 1.2em;
  font-size: 1.6em;
  border-radius: 32px;
  background-color: #cececea1;
  margin-top: 1vh;
}

.integrantes-topo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  h1 {
    margin-top: 8vh;
    font-size: 3vw;
  }

  img {
    width: 20vw;
    margin-top: 8vh;
  }
}

#btn-redefinir {
  margin-top: 20vh;
}

#btn-esqueci {
  margin-top: 12vh;
}

.gradient {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #68ee86, #3da3d0);
  flex-wrap: wrap;
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: fixed;

  p {
    margin-top: 16vh;
  }

  h2 {
    margin-top: 10vh;
  }
}

.cabecalho-azul h1 {
  position: absolute;
  align-self: center;
  color: #ffffff;
}

.informativo {
  margin-bottom: 8vh;
}

.integrantes-info {
  margin-top: 6vh;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  justify-items: center;

  span {
    margin-top: 2vh;
  }

  a {
    margin-top: 2vh;
  }
}

.github {
  width: 12%;
}

#img-gabriel {
  border-radius: 100px;
  width: 24%;
  position: relative;
  margin-bottom: 5vh;
}

#img-gustavo {
  border-radius: 320px;
  width: 30%;
  position: relative;
}

#img-nathan {
  border-radius: 320px;
  width: 40%;
  position: relative;
}

#rodape-integrantes {
  margin-top: 4vh;
  font-size: 100%;
}

#btn-criar {
  margin-top: 8vh;
}

#btn-codigo {
  margin-top: 8vh;
}

#repositorio-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 1.5%;
  border: inset 0.15vw rgb(153, 0, 255);
  margin-bottom: 6vh;

  img {
    width: 26%;
  }
}

@media screen and (max-width: 761px) {
  #repositorio-container {
    height: 20px;
    width: 100px;
  }
}

@media screen and (max-width: 1440px) {
  #repositorio-container {
    height: 40px;
    width: 200px;
  }
}

@media screen and (max-width: 4400px) {
  #repositorio-container {
    height: 80px;
    width: 300px;
  }
}
