.cabecalho-azul {
  display: flex;
  background-color: #3da3d0;
  padding: 2em;
  position: relative;
  justify-content: center;
}

.gradient {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #68ee86, #3da3d0);
  flex-wrap: wrap;
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: fixed;

  p {
    margin-top: 16vh;
  }

  h2 {
    margin-top: 10vh;
  }
}

.cabecalho-azul h1 {
  position: absolute;
  align-self: center;
  color: #ffffff;
}


.informativo {
  margin-bottom: 8vh;
}

.integrantes-info {
  margin-top: 6vh;
  font-size: 140%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30vh 6vh 6vh 6vh;
  justify-items: center;
}

#img-gabriel {
  border-radius: 100px;
  width: 30%;
  position: relative;
  margin-bottom: 5vh;
}

#img-gustavo {
  border-radius: 320px;
  width: 40%;
  position: relative;
}

#img-nathan {
  border-radius: 320px;
  width: 56%;
  position: relative;
}

#rodape-integrantes {
  margin-top: 4vh;
  font-size: 200%;
}
