#cabecalho-verde {
  display: flex;
  height: 6rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #68ee86;
  align-self: center;
  background-image: url(../imgs/logo-portoseguro.webp);
  background-size: 24rem;
  background-position: center;
  background-repeat: no-repeat;
}

#conta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20vh 20vh;
  justify-items: center;
  grid-auto-flow: column;
  gap: 4vh;
  align-items: center;
  text-align: center;
  height: 52vh;
}
