.gradient {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #68ee86, #3da3d0);
  flex-wrap: wrap;
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: fixed;

  p {
    margin-top: 16vh;
  }

  h2 {
    margin-top: 10vh;
  }
}

input {
  height: 3.6em;
  border: none;
  text-align: center;
  justify-items: center;
  padding: 0.6em 1.2em;
  font-size: 1.6em;
  border-radius: 32px;
  background-color: #cececea1;
  margin-top: 1vh;
}

#termos {
  float: left;
  text-align: left;
}

#user-input {
  padding: 20px;
  font-size: 1.1em;
  height: 6vh;
  width: 14vw;

  &:focus {
    transition: 1s;
    width: 36vw;
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 54vh;
  width: 60vw;
  margin: 1.6vw auto;
  padding: 15px;
  border: 3px solid #3da3d0;
  border-radius: 5px;

  font-size: 1vw;

  button {
    margin-top: 2%;
    justify-content: center;
  }
}

.chat-box {
  position: static;
  display: flex;
  height: 30vh;
  width: 50vw;
  border: 3px solid #68ee86;
  padding: 0.1em;
  margin-bottom: 5vh;
  color: #ffffff;
}

#checkbox {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-items: center;
  margin-inline: 30vw;

  P {
    margin-top: 1.25vh;
  }

  #termos {
    border-radius: 32px;
    display: block;
    height: 5vh;
    width: 5vw;
    margin-left: 15vw;
    margin-bottom: 10vh;
  }
}

#tela-add {
  position: absolute;
  display: flex;
  height: 100vh;
  flex-direction: column;

  padding-top: 6vh;
  text-align: center;
  align-content: center;

  width: 100vw;
  background-color: #ffffff;
  footer {
    margin-top: 8vh;
    font-size: 140%;
  }
}

.input-add {
  position: relative;
  display: flex;
  width: auto;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: auto;
  justify-content: space-around;
  input {
    width: auto;
    height: auto;
  }
}
.inp-add {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  align-items: center;
}

#meus-veiculos-container {
  display: block;
  background-color: #d4d4d4;
  padding-top: 3vh;
  height: 120vh;
  width: 100vw;
}

#titulo-veiculo {
  text-align: center;
  padding-top: 3vh;
}

#veiculos-container {
  margin-top: 6vh;
  display: grid;
  height: 62vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30vh 30vh;
  justify-items: center;
  align-items: center;
  column-gap: 1vw;
  row-gap: 5vw;
}

.veiculo {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  justify-items: center;
  align-items: center;
  justify-content: center;
  background-color: #68ee86;
  border-radius: 20px;
  width: 40vw;
  height: 28vh;
  border: 0.25vw solid #3da3d0;
  border-style: ridge;
}

.nome-veiculo {
  display: block;
  text-align: center;
  align-content: center;
  font-size: 160%;
  font-weight: bold;
  background-color: #3da3d0;
  border-radius: 32px;
  width: 20vw;
  height: 6vh;
}

.info-veiculo {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.2em;
  justify-content: center;
  align-items: center;
  .item-veiculo {
    background-color: #3da3d0;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-radius: 32px;
    width: 12vw;
    height: 6vh;
    font-size: 2vw;
  }
}

#rodape-veiculos {
  text-align: center;
  font-size: 120%;
}

#btn-meu-veiculo {
  display: flex;
  flex-direction: row;
  margin-top: 12vh;
}
.localizar {
  background-image: url(../imgs/teste_maps.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  align-content: end;
  position: fixed;
  flex-wrap: wrap;
  opacity: 0.9;

  button {
    margin-bottom: 20vh;
  }
  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.cabecalho-azul {
  display: block;
  align-content: center;
  font-size: 140%;
  text-align: center;
  background-color: #3da3d0;
  height: 8vh;
  position: relative;
  justify-content: center;
}

h2 {
  text-align: center;
}

.btn-localizar {
  width: 20vw;
}

@media screen and (max-width: 4400px) {
  .cabecalho-verde {
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    background-color: #68ee86;
    background-image: url(../imgs/logo-portoseguro.webp);
    background-size: 22rem;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 5vw;
    color: #3da3d0;
    font-size: 1vw;
  }

  input {
    width: 30vw;
  }
}
@media screen and (max-width: 1440px) {
  .cabecalho-verde {
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    background-color: #68ee86;
    background-image: url(../imgs/logo-portoseguro.webp);
    background-size: 12em;
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 5vw;
    color: #3da3d0;
    font-size: 2vw;
  }

  input {
    width: 540px;
  }

  .input-add {
    height: 50vh;
    flex-direction: column;
    padding: 4vw;
    padding-bottom: 4vh;
  }
}

@media screen and (max-width: 767px) {
  input {
    width: 320px;
  }
}
