html {
  font-size: 165%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.rodape-link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

@media screen and (max-width: 1800px) {
  .rodape-link{
  flex-direction: row;
}
}


@media screen and (max-width: 500px) {
  .rodape-link{
  flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  display: block;
  text-align: center;
  margin-top: 10vh;
}

.informativo {
  margin-bottom: 8vh;
}

#btn-conta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 24vw;
}

footer {
  text-align: center;
  margin-top: 3vw;
}

input::placeholder {
  font-size: 0.9em;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #3da3d0;
}

hr {
  margin-top: 2vh;
  margin-bottom: 1vh;
  width: 40vw;
  opacity: 0.6;
}

.rodape_l {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: block;
  margin-top: 20vh;
  width: 100vw;
  text-align: center;
}

input {
  width: 24vw;
  height: 6.8vh;
  border: none;
  text-align: center;
  justify-items: center;
  padding: 0.6em 1.2em;
  font-size: 1.6em;
  border-radius: 32px;
  background-color: #cececea1;
  margin-top: 1vh;
}

#user-input {
  padding: 20px;
  font-size: 1.1em;
  height: 6vh;
  width: 14vw;

  &:focus {
    transition: 1s;
    width: 36vw;
  }
}

.message {
  margin-bottom: 10px;
}

button {
  display: block;
  padding: 0.4em;
  background-color: #3da3d0;
  color: rgb(255, 255, 255);
  border-radius: 2em;
  border-color: #fdfdfdec;
  border-style: solid;
  cursor: pointer;
  margin: auto;
  font-size: 1.8vw;
  width: 16vw;
  justify-content: center;
  align-items: center;

  &:hover {
    transition: 0.8s ease-in;
    background-color: #68ee86;
  }
}

.texto-cadastro {
  margin-bottom: 0.8vh;
}

.texto {
  font-size: 30px;
}

.link-btn {
  text-decoration: none;
  color: rgb(255, 248, 240);
}
