html {
  font-size: 62.5%;
}
body {
  font-size: 1.6em;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#cabecalho-azul {
  display: flex;
  background-color: #3da3d0;
  padding: 2em;
  position: relative;
  justify-content: center;
  }

#cabecalho-azul h1{
  position: absolute;
  align-self: center;
  color: #ffffff;
}

.gradient {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #68ee86, #3da3d0);
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-content:  center;
  
  .item{
  margin-bottom: 30%;
  }
}


#cabecalho-verde {
  position: relative;
  background-color: #68ee86;
  align-self: center;
}
