html {
  font-size: 62.5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.rodape-link {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  display: block;
  text-align: center;
  margin-top: 10vh;
}

.informativo {
  margin-bottom: 8vh;
}

footer {
  text-align: center;
  margin-top: 3vw;
}

input::placeholder {
  font-size: 0.9em;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #3da3d0;
}

hr {
  margin-top: 2vh;
  margin-bottom: 1vh;
  width: 40vw;
  opacity: 0.6;
}

.rodape_l {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: block;
  margin-top: 20vh;
  width: 100vw;
  text-align: center;
}

input {
  border: none;
  text-align: center;
  justify-items: center;
  padding: 0.6em 1.2em;
  font-size: 1.6em;
  border-radius: 32px;
  background-color: #cececea1;
  margin-top: 1vh;
}

.message {
  margin-bottom: 10px;
}

button {
  display: block;
  padding: 0.4vw;
  background-color: #3da3d0;
  color: rgb(255, 255, 255);
  border-radius: 2em;
  border-color: #fdfdfdec;
  border-style: solid;
  cursor: pointer;
  margin: auto;
  font-size: 2.2vw;
  width: 18vw;
  height: 2.6em;
  justify-content: center;
  align-items: center;

  &:hover {
    transition: 0.8s ease-in;
    background-color: #68ee86;
  }
}

.texto-cadastro {
  margin-bottom: 0.8vh;
}

.texto {
  font-size: 30px;
}

.link-btn {
  text-decoration: none;
  color: rgb(255, 248, 240);
}

@media screen and (max-width: 4400px) {
  .rodape-link {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1920px) {
  .rodape-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
  }
}
